:root {
    /* Colors */
    --verdeMenta: hsl(172, 67%, 45%);
    --verdeOscuro: hsl(183, 100%, 15%);
    --verdeGris: hsl(186, 14%, 43%);
    --grisVerdoso: hsl(184, 14%, 56%);
    --azulClaro: hsl(185, 41%, 84%);
    --grisClaro: hsl(189, 41%, 97%);
    --blanco: hsl(0, 0%, 100%);
    
    --mainFont: 'Space Mono', monospace;
  }

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

body{
    font-family: var(--mainFont);
    background-color: var(--azulClaro);
}

.container{
    background-color: var(--blanco);
    width: 95%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 375px) {
    .container{
        width: 50%;
        flex-direction: row;
    }
    .card-left{
        background-color: var(--blanco);
        width: 50%;
    }
}

.card-body {
    border: none; 
}

.card-left{
    background-color: var(--blanco);
    width: 100%;
}

.card-right{
    background-color: var(--verdeOscuro);
    width: 100%;
}

/*Headers and text*/
h1{
    color: var(--verdeGris);
    text-align: center;
    margin-top: 10rem;
    line-height: 1;
}

p{
    margin: 0.5rem 0;
    color: var(--verdeGris);
}

.card-title{
    color: var(--blanco);
}

input{
    background-color: var(--grisClaro);
    border: none;
    color: var(--verdeGris);
}

bill-amount::before {
    content: "$";
}

h5::after {
    content: "/person";
}

.result-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.result {
    color: var(--verdeMenta);
    font-size: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right:0;
}

.result::before {
    content: "$";
}

/*Buttons*/

.btn{
    background-color: var(--verdeMenta);
    color: hsl(183, 100%, 15%);
    font-weight: bold;
    display: block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    bottom: 0px;
}

.custom-btn{
    background-color: var(--grisClaro);
    color: var(--verdeGris);
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
}

.tip-btn{
    background-color: var(--verdeOscuro);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
}

.tip-btn:hover, .custom-btn:hover {
    background-color: var(--verdeMenta);
    color: var(--verdeOscuro);
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

/*Configurar botones de tips*/

@media (min-width: 375px) {
    .btn-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

/* - Mobile: 375px
- Desktop: 1440px */
